.container {
  height: 100%;
  width: 100% !important;
  padding: 0 !important;
  overflow: hidden;
}

h1 {
  color: var(--primary-white) !important;
}

/****************************** Font ******************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  --primary-white: #fff;
  --primary-blue: #2f74ad;
  --primary-dark: rgba(255 255 255 0);
  --primary-grey: #121211;
}

.body {
  font-family: "Roboto Condensed" sans-serif;
}


/****************************** NAVBAR ******************************/
nav {
  z-index: 3;
}

/*--------------- Nav Logo ---------------*/
.logo {
  max-width: 29rem;
  width: 100%;
}

/*--------------- Nav Links ---------------*/
nav a.nav-link {
  letter-spacing: 0.03rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  text-align: center;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-radius: 0.5rem;
  color: var(--primary-white) !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-bottom: 0.18rem solid var(--primary-blue);
}

.navbar-brand {
  max-width: 29rem;
  padding: 0.2%;
}

.navbar-nav > li > a:hover {
  background-color: var(--primary-blue);
  border-radius: 0.5rem;
}

@media only screen and (max-width: 540px) {
  .navbar-brand {
    margin-left: 2%;
  }
}

/****************************** HEADER ******************************/
.header-wrapper {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 93.8vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.main-info h1 {
  color: var(--primary-white);
  text-transform: uppercase;
}

/*--------------- Contact Me Button ---------------*/
.btn-main-offer {
  border: 2px solid var(--primary-blue);
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 0;
  padding: 0.6rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2.5rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-white);
  opacity: 50;
  transition: .3s ease-in-out;
}

/*--------------- Typed Text ---------------*/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}


/****************************** TSPARTICLES ******************************/
/*--------------- Particles ---------------*/
.tsparticles {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 1170px) {
  .particles-canvas {
    max-width: 2rem;
    width: 100%;
  }
}


/****************************** BIO ******************************/
.bio-container {
  z-index: 2;
  display: flex;
  position: relative;
}

/*--------------- Profile Pic ---------------*/
.profile-pic-container {
  margin: 2%;
  position: relative;
  display: flex;
  padding: 1.5%;
  justify-content: center;
  align-items: center;
}

.profile-pic-container img {
  position: relative;
  display: flex;
}

.profile-pic-img {
  max-width: 80%;
  width: 100%;
  max-height: 100;
  align-self: center;
}

/*--------------- Profile Bio ---------------*/
.profile-bio-container {
  margin: 2%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-white);
  border-radius: 5px;
}

.profile-bio-container h2 {
  margin-left: 2%;
  margin-top: 1%;
}

.profile-bio-container h3 {
  margin: 1%;
  display: none;
}

.profile-bio-container p {
  font-weight: 500;
  margin: 2%;
}

@media only screen and (max-width: 575px) {
  .profile-bio-container {
    margin: 5%;
  }

  .profile-bio-container h3 {
    margin: 4%;
  }

  .profile-bio-container p {
    font-weight: 400;
    margin: 5%;
  }

  .profile-pic-container {
    margin: 1%;
  }
}

@media only screen  and (max-width: 767px) {
  .bio-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;

  }

  .profile-pic-img {
    max-width: 100 auto;
    width: 50%;
    max-height: 100;

  }
}

/****************************** VERTICAL TIMELINE ******************************/
.timeline-wrapper {
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 2;
}

.timeline-container {
  display: flex;
  align-content: center;
}

/*--------------- Timeline Elements ---------------*/
.vertical-timeline-element-content {
  padding: .8rem !important;
}

.vertical-timeline-element-date {
  color: var(--primary-white) !important;
  border-radius: 5px;
}

@media only screen and (max-width: 1170px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: var(--primary-dark) !important;
  }
}

@media only screen and (max-width: 540px) {
  .vertical-timeline-element-content {
    margin: 5%;
  }
}

/****************************** SMASH ULTIMATE ******************************/
/*--------------- Smash Info ---------------*/
.smash-info-wrapper {
  position: relative;
  z-index: 2;
  margin-bottom: 2rem;
}

.smash-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2%;
}

.smash-info-container h1 {
  display: block;
  font-style: italic;
}

.smash-records {
  display: block;
  width: 70rem;
  width: 100%;
  height: 50rem;
  background-color: var(--primary-blue);
  border-radius: 10px;
}

.smash-match-title {
  margin: 1%;
  width: auto;
  color: var(--primary-white);
  -webkit-text-stroke: .05rem var(--primary-white);
}

.smash-link {
  position: relative;
  display: contents;
  font-size: 1.3rem;
  color: var(--primary-white);
  font-family: "Roboto Condensed" sans-serif;
  width: 100% auto;
}


/****************************** IMG CAROUSEL ******************************/
/*--------------- Carousel ---------------*/
.carousel-wrapper {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.img-carousel {
  margin: 2%;
}

/*--------------- React Elastic Carousel ---------------*/
.rec-carousel {
  width: 100%;
}

.rec.rec-item-wrapper div{
  height: 100%;
}

.rec-item-wrapper img {
  width: 100%;
}

/*--------------- REC Dot ---------------*/
button.rec-dot{
  box-shadow: 0 0 1px 2px var(--primary-white);
}

button.rec-dot:hover, .rec-dot:active, button.rec-dot:focus:enabled  {
  box-shadow: 0 0 1px 2px var(--primary-blue);
}

/*--------------- REC Arrow ---------------*/
.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec.rec-dot_active {
  background-color: var(--primary-blue);
}

.rec.rec-arrow, .rec.rec-arrow:active  {
  color: var(--primary-blue);
  background-color: transparent;

}

.rec.rec-arrow-left:hover:enabled,
.rec.rec-arrow-right:hover:enabled{
    background-color: var(--primary-blue);
}

.rec.rec-arrow-left:active, .rec.rec-arrow-right:active, 
.rec.rec.arrow-left:focus, .rec.rec.arrow-right:focus {
  background-color: transparent;
}

@media only screen and (max-width: 540px) {
  
}

@media only screen and (max-width: 1200px) {
  
}


/****************************** CONTACT ME ******************************/
.contact-wrapper {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: relative;
}

/*--------------- Form  ---------------*/
.mssg-result-container {
  position: relative;
  max-width: 24rem;
  margin: 2%;
  font-weight: 500;
  font-size: large;
  text-align: center;
  color: var(--primary-blue);
  display: inline;
}

.g-recaptcha {
  position: relative;
  display: inline;
  z-index: 2;
}


/******************************  ******************************/
/*---------------  ---------------*/


/******************************  ******************************/
/*---------------  ---------------*/